ion-icon {
    font-size: 25px; 
}

.class-header{
    color: #ffd534;
}

p{
    font-weight: bolder;
    color:#305174;
    font-size:12px;
}

h4{
    font-weight: bolder;
    color:#ffd534; 
}

ion-card-title{
    font-size:15px;

}
